.blog {
   width: 100%;
   margin-top: 5rem;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--color-bg-primary);

   .index-header {
      padding: 0.75rem 1.125rem;
      margin: 1.25rem 0 2.5rem 0;

      p {
         line-height: 2;
      }
   }

   .post-index {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;

      > div {
         width: 100%;
         border: 1px solid var(--brightyellow-500);
         padding: 0.75rem;
         margin: 0.5rem;
         position: relative;

         .image {
            position: relative;
            width: 100%;
            height: 18rem;
         }

         .byline {
            margin: 0.5rem 0 1rem 0;
         }

         .categories {
            display: flex;
            flex-direction: row;
         }
      }
   }

   .category-bullet {
      font-family: var(--font-code);
      padding: 0.5rem;
      margin-right: 1rem;
      background-color: var(--white-100);
      color: var(--blue-600);
   }
}
