/* Setup CSS for Theme Switcher */
:root {
   @apply light;
}

.dark {
   --color-bg-primary: #001d3d;
   --color-bg-secondary: #000814;
   --color-text-primary: #e7e7e7;
   --color-text-secondary: #ffd60a;
   --color-text-accent: #9e0031;
}

.light {
   --color-bg-primary: #e7e7e7;
   --color-bg-secondary: #f0f4ef;
   --color-text-primary: #001429;
   --color-text-seconday: #000814;
   --color-text-accent: #9e0031;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
