.mdx-content {
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
      margin-bottom: 1.5rem;
   }
   p {
      font-size: 1.1rem;
      line-height: 1.6em;
   }
   h2 {
      font-size: 1.85rem;
      font-family: 'Hind';
      margin: 2rem 0 0.5rem;
      font-weight: 500;
   }

   h3 {
      font-size: 1.35rem;
      font-family: 'Hind';
      margin: 2rem 0 0.5rem;
      font-weight: 500;
   }
   @media screen and (min-width: 700px) {
      h2 {
         font-size: 2.25rem;
         margin: 2rem 0 0.5rem;
      }
      h3 {
         font-size: 1.55rem;
         margin: 2rem 0 0.5rem;
      }
   }

   ul {
      margin-bottom: 2rem;
      li {
         list-style-type: disc;
         margin-left: 20px;
         padding-left: 5px;
         margin-bottom: 5px;
      }
   }

   .quotes:before {
      content: ' ';
      display: inline-flex;
      background-image: url('/images/svgs/quote-left.svg');
      background-size: 40px 40px;
      height: 20px;
      width: 20px;
      position: absolute;
      left: -10px;
      z-index: 20;
      -webkit-mask: url('/images/svgs/quote-left.svg') no-repeat 50% 50%;
      mask: url('/images/svgs/quote-left.svg') no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
   }
   .quotes:after {
      content: ' ';
      display: inline-flex;
      background-image: url('/images/svgs/quote-right.svg');
      background-size: 40px 40px;
      height: 20px;
      width: 20px;
      position: absolute;
      right: -10px;
      bottom: 70px;
      -webkit-mask: url('/images/svgs/quote-right.svg') no-repeat 50% 50%;
      mask: url('/images/svgs/quote-right.svg') no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
   }
   @media screen and (min-width: 700px) {
      .quotes:before {
         height: 40px;
         width: 40px;
      }
      .quotes:after {
         height: 40px;
         width: 40px;
         bottom: 40px;
      }
   }

   a {
      color: var(--color-blue-500);
      text-decoration: underline dotted var(--color-blue-500);
      font-weight: bold;
   }
}

.alert {
   p {
      margin: 0;
   }
}

.dark {
   .quotes:before,
   .quotes:after {
      background-color: white;
      background-image: none;
   }
}
