.page-content {
   margin-top: 2rem;
   max-width: 900px;

   h2 {
      font-size: 1.75rem;
      font-family: 'Archivo Black';
      margin: 2rem 0 0.5rem;
   }

   p {
      margin-bottom: 1rem;
      font-family: 'Hind';
      font-size: 1.15rem;
   }

   &.showcase {
      font-size: 2rem;
   }
}
