.portfolio-content {
   margin-top: 2rem;

   a {
      color: var(--color-blue-300);
      text-decoration: underline;
      font-weight: bold;
   }
   h2 {
      font-size: 1.5rem;
      font-family: 'Archivo Black';
   }
   p {
      margin-bottom: 1rem;
   }
   blockquote {
      background-color: var(--color-grey-200);
      padding: 1.5rem 1rem;
   }
}
